@charset "UTF-8";
.contentList,
#paging:hover,
#addBtn,
#searchBtn
{
	cursor: pointer;
}

thead > tr:hover,
#boardCnt
{
	cursor: default;
}

a:link
{
	color: white;
	text-decoration: none;
}
a:visited {
	color: white;
	text-decoration: none;
}
a:hover 
{ 
	color: white;
	text-decoration: none;
}
a:active 
{ 
	color: white;
	text-decoration: none;
}
